* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* 상단 공백 및 검색 결과 제목 */
.top-space {
    height: 50px;
}

.search-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

/* 컨테이너 설정 */
.container {
    width: 1036px;
    margin: 0 auto;
    padding: 0 32px;
}

/* 테이블 스타일 */
.table-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0 10px;
}

.table-title-con{
	display: flex;
	align-items: center;
	padding: 0 0 20px;
}

.search-result {
    font-size: 25px; /* 폰트 크기를 50px로 설정 */
    display:inline-block;
}

.list-count{
	font-size: 15px;
	color: #5A616B;
	margin: 4px 0 0 8px;
}

table {
    width: 100%;
    border-collapse: collapse; /* 중첩된 테두리 제거 */
}


tr{
	border: 1px solid #d6d0d0;
	border-right: none;
	border-left: none;
}

tr:nth-child(1){
	border-top: 2px solid black;
}

tr td:nth-child(1){
	background: #efefef;
	text-shadow: 0.4px 0 0 #141313;	
}

td {
    padding: 16px 20px;
    vertical-align: middle;
}

.category-cell {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    position: relative; /* 버튼의 위치 제어 */
    box-sizing: border-box; /* 테두리를 포함한 크기 계산 */
    border: 0px solid #ccc; /* 원래 두께의 테두리 유지 */
}

/* 카테고리+ 버튼 테두리 없애기 */
.category-btn {
    position: absolute;
    right: 19px;
    background: none; /* 배경 제거 */
    border: none; /* 테두리 제거 */
    font-size: 32px; /* 원하는 크기로 조절 */
    cursor: pointer; /* 커서 모양을 손가락 모양으로 변경 */
    padding: 0; /* 불필요한 여백 제거 */
    color : #c6c6c6;
}

#category-list{
	cursor: pointer;
	color:#4a4848;
	display: flex;
	justify-content: center;
	gap:22px; 
	font-size:14px;
	text-shadow:none;
}


.filter-control-box button {
    width: 70px;
    padding: 9px 10px;
    color: #181717;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    margin: 15px 2px;
	border: 1px solid #c3bfbf;
	background-color: #f8f8f8;
	text-shadow: 0.7px 0 0.3px #181717;
	transition: transform 0.4s ease, background-color 0.4s ease;
}

#search-btn{
	background-color: #252323;
	color: white;
	text-shadow: 0.7px 0 0.3px white;
}

#search-btn:hover{
	background-color: #7c7979;
}

#reset-btn:hover{
	background-color: #aeaeae;
	color: #fff;
    text-shadow: 0.7px 0 0.3px #fff;
}

/* 필터 박스 */
.filter-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left-filter, .right-filter {
    padding: 20px;
}

.price-filter span{
	font-size: 14px;
}

.price-filter input {
    width: 120px;
    margin: 0 10px;
    padding: 11px 7px;
    border: 1px solid rgb(220 220 220);
    background-color: #f8f8f8;
    text-shadow: 0.2px 0.2px 0 rgb(220 220 220);
}

.price-filter input, .apply-btn {
    display: inline-block; /* 줄바꿈 없이 나란히 배치 */
    font-size: 14px;
    border-radius: 5px;
}

.apply-btn {
    background-color: #141313;
    margin-left: 5px;
    color: white;
    border: none;
    cursor: pointer;
    height: 42px;
    letter-spacing: 1px;
    padding: 0 12px;
    text-shadow: 0px 0.5px 0 white;
    transition: background-color 0.3s ease;
}

.apply-btn:hover {
    background-color: #393535;
}




.options {
    display: flex;
    align-items: center; /* 자식 요소를 수직 중앙 정렬 */
    gap: 7px; /* 자식 요소 사이의 간격을 줌 */
}

.options input[type="checkbox"], .status-filter input[type="checkbox"] {
    display: none;
}

/* 라벨을 원형 박스 스타일로 변경 */
.round-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #ddd;
    border-radius: 50%; /* 원형 만들기 */
    vertical-align: middle;
    text-align: center; /* 텍스트를 중앙 정렬 */
    line-height: 20px; /* 폰트와 박스의 높이 정렬 */
    font-size: 14px; /* 체크 표시의 크기 */
    color:#b9b9b9;
}

/* 체크박스가 체크되었을 때 원형 박스 전체 색상 및 체크 표시 */
.options input[type="checkbox"]:checked + .round-checkbox, 
.status-filter input[type="checkbox"]:checked + .round-checkbox {
    background-color: #0dcb5a; /* 배경색 */
    border-color: #0dcb5a; /* 테두리 색 */
    color: white; /* 체크 표시 색 */
}

/* 텍스트 스타일 */
.label-text {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 20px; /* 다음 체크박스와의 간격 */
}







/* 리스트 목록 */

/* 정렬 박스 */
.sort-box {
    display: flex;
    justify-content: flex-end;
    margin: 35px 5px 15px;
    font-size: 14px;
    color: #767976;
    font-weight: bold;
}

.sort-btn {
    padding: 0 8px;
    background-color: #f8f8f8;
    border: none;
    cursor: pointer;
    color: #767976;
    font-weight: bold;
}

.sort-btn.active {
    color: black; /* 활성화된 버튼의 색상 */
    font-weight: bold;
}

/* 상품 리스트 */
.product-list {
	width:100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 10px 0 50px;
}

/* 상품 카드 */
.product-card {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 이미지 정사각형 박스 */
.image-container {
    width: 100%;
    padding-top: 100%; /* 정사각형 비율 유지 */
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    background-color: #f0f0f0; /* 이미지가 없을 때 배경색 */
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* 상품 정보 */
.product-info {
    margin-top: 16px;
    margin-left: 2px;
    text-align: left;
}

.product-info h3 {
    font-size: 16px;
}

.product-info .product-price {
    margin-top: 6px;
    font-size: 18px;
    font-weight: bold;
}

.product-info .upload-time {
    margin: 4px 0;
    font-size: 14px;
}

.product-info .wishlist {
    font-size: 12px;
    text-align: right;
    color:#919191;
}

.location {
    font-size: 14px;
    color: #666; /* 회색으로 표시 */
    margin-top: 6px; /* 약간의 여백 */
}

.product-meta {
    margin-top: 6px; /* 약간의 여백 */
    font-size: 14px;
    color: #666;
    padding:0 0 6px;
}

.location, .upload-time {
    display: inline; /* 나란히 배치 */
}

/* 찜 버튼 */
.like-btn {
    position: absolute;
    top: 16px;
    right: 19px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #bababa; /* 비활성화 상태의 색상 */
}

.like-btn.liked {
    color: red;
}

/* 페이지네이션 */
.pagination {
    text-align: center;
    margin: 10px 0 30px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.pagination a{
	width:40px;
	height:40px;
    font-size: 16px;
    padding: 4px 4px;
    color: #3b3b3b;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, background-color 0.5s ease;
}

.pagination a:hover {
    text-decoration: underline;
    color:#2ee075bf;
    font-weight: 600;
}
.pagination .active:hover{
	text-decoration:none;
	color:white;
	font-weight: 600;
    font-size: 17px;
    background: #1de16bde;
}

.pagination .active{
	color:white;
	background-color: #0dcc5acc;
	//border: 1px solid #0bc053;
	border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.pagination {
    text-align: center;
    margin-top: 20px;
}
.pagination span, .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.page-number.active {
    font-weight: bold;
    text-decoration: underline;
}
.page-number {
    cursor: pointer;
}